* {
  box-sizing: border-box;
}

:root {

  font-size: 62.5%;
}

body {
  background: #ededed;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  border-bottom: 5px solid #734980;
}

header div p{
  justify-content: space-between;
  display: inline;
  flex-wrap: wrap;
  padding: 20px 15px;
}

p {
  font-size: 1.2rem;
}

.quiz-container{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 95%;
}

.quiz-questions {
  flex: 1;
  display: grid;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  margin: 25px auto;
  width: 95%;
  padding: 50px 15px;
}

.quiz-hide {
  display: none;

}

.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: #dda0e9;
  font-size: 1.2rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px #734980;
}

.btn:hover {
  box-shadow: 0 2px #734980;
  top: -2px;
}
.btn:active {
  box-shadow: 0 0px #734980;
  top: 0;
}


@media screen and (max-width: 980px) {
  form .form-group {
    flex: 1 100%;
  }

  form .form-group button {
    width: 100%;
  }

  .task-list-wrapper {
    flex-basis: 100%;
  }

}
