* {
  box-sizing: border-box;
}

:root {
  --primary: #d77dee;
  --secondary: #734980;
  --tertiary: rgb(192, 253, 240);
  --grey: #333;
  font-size: 62.5%;
}

body {
  background: #ededed;
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  border-bottom: 5px solid var(--primary);
}

header div p {
  justify-content: space-between;
  display: inline;
  flex-wrap: wrap;
  padding: 30px 25px;
}

p, li {
  font-size: 1.2rem;
}

.quiz-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 95%;
}

/*.quiz-wrapper, .quiz-questions {
  padding: 20px 25px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px auto;
  width: 95%;
}*/

.quiz-hide {
  display: none;

}

.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: var(--primary);
  font-size: 1.2rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
}

.btn:hover {
  box-shadow: 0 2px var(--grey);
  top: -2px;
}
.btn:active {
  box-shadow: 0 0px var(--grey);
  top: 0;
}


@media screen and (max-width: 980px) {
  form .form-group {
    flex: 1 100%;
  }

  form .form-group button {
    width: 100%;
  }

  .task-list-wrapper {
    flex-basis: 100%;
  }

}
